<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>assignment_1</display-name>
  <!-- Define servlets that are included in the example application -->
	<servlet>
	<!--Here we declare servlet's registered name -->
		<servlet-name>
			SubmitMessageServlet
		</servlet-name>
		<servlet-class>
			submit.message.SubmitMessageServlet
		</servlet-class>
	</servlet>
	<!--Here we say that the HelloServlet can be invoked by writing
	the path and hs to the address bar of the browser -->
	<servlet-mapping>
		<servlet-name>
			SubmitMessageServlet
		</servlet-name>
		<url-pattern>
			/forum
		</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>
			SearchDate
		</servlet-name>
		<servlet-class>
			search.forum.SearchDate
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>
			SearchDate
		</servlet-name>
		<url-pattern>
			/searchDate
		</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>
			SearchUser
		</servlet-name>
		<servlet-class>
			search.forum.SearchUser
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>
			SearchUser
		</servlet-name>
		<url-pattern>
			/searchUser
		</url-pattern>
	</servlet-mapping>
</web-app>